@use 'variables/global';
@use 'themes/dark';
@use 'reset';

.app {
    font: var(--font-m);
    min-height: calc(100vh - var(--navbar-height));
    background: #FFF;
    color: var(--primary-color);
}


.gray {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.dark_blue {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.pink-violet {
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

.white {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.alchemist-lab {
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

.le-cocktail {
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);

}