.VerifyPage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--ds-background-accent-blue-subtler, #cce0ff), var(--ds-background-accent-blue-subtle, #579dff));
    font: var(--ds-font-heading-medium);

}

.verify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    width: 410px;
    height: 315px;
    padding: 16px, 24px;
    max-width: 100%;
    box-shadow: var(--ds-shadow-overlay);
    background: var(--ds-surface-overlay);
    border-radius: var(--ds-radius-medium);
}

.verifyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 100%;
}

.resendBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 100%;
    background: var(--ds-background-neutral);
    border-radius: var(--ds-radius-small, 3px);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

    &.resendBtn:hover {
        background: var(--ds-background-neutral-hover);
    }
}

.verifyLabel {
    font-weight: var(--ds-font-weight-medium);
    margin-bottom: 8px;
}