.page {
    background: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.whitebox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    margin: 50px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    max-width: 400px;
    width: 100%;

}

.main {
    padding: 32px 40px;


}

.card {
    width: 400px;

}