.containter {
    position: relative;

}

.left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.left,
.right {
    width: clamp(200px, 20vw, 350px);
}

@media (max-width: 500px) {


    .left,
    .right {
        opacity: 0;

    }
}