* {
    font: var(--ds-font-heading-small);
    color: var(--ds-text);

}

.SignupForm {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
}

.input {
    outline: none;
    height: 100%;
    font: var(--ds-font-body);
    padding-block-start: 8px;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    padding-block-end: 8px;

}

.label {
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;

}

.page {
    width: 100%;
    height: 100%;
    background: #fff;
}

.submitBtn {
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    width: 100%;
    background-color: var(--ds-background-brand-bold);
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var(--ds-background-accent-blue-hovered);
    }
}