.app_dark_theme {
    --main-color: #1F1F21;
    --dropdown-color: #2b2c2f;
    --primary-color: #BFC1C4;
    --icon-color: #a9abaf;
    --ds-icon: #cecfd2;
    --radio-checked: #8fb8f6;
    --radio-unchecked: #2b2c2f;
    --radio-border: #4b4d51;
    --ds-text-selected: #669DF1;
    --ds-shadow-overlay: 0px 0px 0px 1px #BDBDBD1F, 0px 8px 12px #0104045C, 0px 0px 1px 1px #01040480;
    --accent-background: #101204;
    --ds-surface-raised: #242528;
    --dynamic-button-hovered: rgba(255, 255, 255, 0.20);
}