.header {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    background: rgba(31, 31, 33, 0.7);

    .nameInput {
        color: white;
    }

    .boardName {
        cursor: pointer;
        color: white;
        font: var(--ds-font-heading-large);
        font-size: 16px;

        &:hover {
            background: var(--dynamic-button-hovered);
            border-radius: 3px;
        }
    }
}